<!DOCTYPE>
<html>
    <head>
        <title>when am I?</title>
    </head>
    <body>
        # <h1>The date is <%= Time.now.day %>, <%= Time.now.month %> <%= Time.now.day %>, <%= Time.now.year %></h1>
        <h1>The date is Monday, December 09, 2019</h1>
    </body>
</html>