<!DOCTYPE>
<html>
    <head>
        <title>This is just the index</title>
    </head>
    <body>
        <h1>Hello There!</h1>
        <h2>General Kenobi! You are a bold one!</h2>
    </body>
</html>